@import "../base/variables";

/**************  LOGIN  ********************/
.login {
  @include estructura-flex(flex, column wrap, center, center);
  form {
    margin-top: 6%;
    div {
      input {
        margin-top: 5%;
        background: transparent;
        width: 280px;
        height: 35px;
        color: nth($colores, 2);
        text-align: center;
      }
    }
    #login-boton {
      @include estructura-boton(280px, 35px, 50px, 0px, 30px, 0px);
    }
  }
}

/**************  INICIO  ********************/
.inicio {
  h2 {
    text-align: center;
  }
  p {
    margin-top: 3%;
    margin-left: 5%;
  }
  ul {
    margin-left: 7%;
  }
}

/**************  COMPRAS  ********************/
.compras {
  h2 {
    text-align: center;
  }
  .compras-productos {
    margin-left: 2rem;
    margin-top: 2rem;
    img {
      width: 150px;
      height: 150px;
      object-fit: contain;
    }

    .card {
      display: flex;
      align-items: center;
      margin: 0.5rem;
      padding: 1rem;
      #compras-boton {
        @include estructura-boton(100px, 35px, 0px, 0px, 0px, 0px);
      }
    }
  }
}
