@import "../base/variables";

/**************  LOGIN  ********************/
.login {
  @include estructura-flex(flex, column wrap, center, center);
  form {
    margin-top: 6%;
    div {
      input {
        margin-top: 5%;
        background: transparent;
        width: 280px;
        height: 35px;
        color: nth($colores, 2);
        text-align: center;
      }
    }
    #login-boton {
      width: 280px;
      height: 35px;
      margin: 50px 0px 30px 0px;
      border-radius: map-get($boton, borde);
      color: map-get($boton, color-letra);
      background-color: map-get($boton, color-fondo);
      transition: map-get($boton, tiempo-animacion);
      &:hover {
        background-color: nth($colores, 5);
      }
    }
  }
}

/**************  INICIO  ********************/
.inicio {
  h2 {
    text-align: center;
  }
  p {
    margin-top: 3%;
    margin-left: 5%;
  }
  ul {
    margin-left: 7%;
  }
}

/**************  COMPRAS  ********************/
.compras {
  h2 {
    text-align: center;
  }

  .compras-productos {
    margin-left: 40px;
    margin-top: 40px;
    width: 250px;
    height: 350px;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    transition: 2s;
    box-shadow: 4px 5px 11px 0px rgba(115, 112, 103, 0.75);
    -webkit-box-shadow: 4px 5px 11px 0px rgba(115, 112, 103, 0.75);
    -moz-box-shadow: 4px 5px 11px 0px rgba(115, 112, 103, 0.75);
    &:hover {
      transform: scale(1.1);
    }

    img {
      width: 200px;
      height: 200px;
    }
    h3 {
      text-align: center;
      font-size: nth($size-letra, 4);
    }
    input {
      margin-top: 20px;
      text-decoration: none;
      width: 100px;
      height: 50px;
      border-radius: map-get($boton-compras, borde);
      color: map-get($boton-compras, color-letra);
      background-color: map-get($boton-compras, color-fondo);
      transition: map-get($boton-compras, tiempo-animacion);
    }
  }
}
