//************  LISTAS  **********************
// colores:
//        1        2        3        4          5
$colores: white, black, green, #edaa44, red;

//* tamaños textos:
//            1     2     3     4
$size-letra: 10px, 11px, 15px, 20px;

//************  MAPAS  **********************
$boton: (
  borde: 15px,
  color-letra: nth($colores, 1),
  color-fondo: nth($colores, 2),
  tiempo-animacion: 1s ease-in,
);

//************  MIXIN  **********************
@mixin estructura-flex($display_flex, $flow, $justify, $align) {
  display: $display_flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: $align;
}

@mixin estructura-grid($display_grid, $columnas, $filas) {
  display: $display_grid;
  grid-template-columns: $columnas;
  grid-template-rows: $filas;
}

@mixin estructura-boton ($ancho, $alto, $margen-top, $margen-left, $margen-bottom, $margen-right){
  width: $ancho;
  height: $alto;       
  margin-top: $margen-top; 
  margin-left: $margen-left; 
  margin-bottom: $margen-bottom;
  margin-right: $margen-right; 
  border-radius: map-get($boton, borde);
  color: map-get($boton, color-letra);
  background-color: map-get($boton, color-fondo);
  transition: map-get($boton, tiempo-animacion);
  &:hover {
    background-color: nth($colores, 5);
  }
  
}