//************  LISTAS  **********************
// colores:
//        1        2        3        4          5
$colores: white, black, green, #edaa44, red;

//* tamaños textos:
//            1     2     3     4
$size-letra: 10px, 11px, 15px, 20px;

//************  MAPAS  **********************
$boton: (
  borde: 15px,
  color-letra: nth($colores, 1),
  color-fondo: nth($colores, 2),
  tiempo-animacion: 1s ease-in,
);

$boton-compras: (
  borde: 15px,
  color-letra: nth($colores, 2),
  color-fondo: nth($colores, 4),
  tiempo-animacion: 1s ease-in,
);

//************  MIXIN  **********************
@mixin estructura-flex($display_flex, $flow, $justify, $align) {
  display: $display_flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: $align;
}

@mixin estructura-grid($display_grid, $columnas, $filas) {
  display: $display_grid;
  grid-template-columns: $columnas;
  grid-template-rows: $filas;
}
